.page__home {
    .form {
        margin-top: 30px;
    }

    .resultList {
        &__box {
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            padding: 20px;
            &:hover {
                background: $color__soft-grey;
            }

            & p {
                margin-top: 10px;
                margin-bottom: 0;

                &:first-child {
                    margin-top: 0
                }
            }
        }

        &__item {
            &--no {
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}

.btn-modal {
    float: none;
    width: 100%;
}

