.main__header {
  padding: 16px 0;
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }

input,
select {
  width: 100%;
  padding: 12px;
  outline: none;
  border: 1px solid #c0d2c4;
  background-color: #fff;
  font-size: 14px;
  border-radius: 10px; }

.btn {
  float: right;
  text-transform: uppercase;
  margin-top: 16px; }

.page__home .form {
  margin-top: 30px; }
.page__home .resultList__box {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 20px; }
  .page__home .resultList__box:hover {
    background: #eee; }
  .page__home .resultList__box p {
    margin-top: 10px;
    margin-bottom: 0; }
    .page__home .resultList__box p:first-child {
      margin-top: 0; }
.page__home .resultList__item--no {
  text-align: center;
  text-transform: uppercase; }

.btn-modal {
  float: none;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
