$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Century Gothic', sans-serif;

$color__white: #fff;
$color__light-grey: #c0d2c4;
$color__soft-grey: #eee;
$color__dark-grey: #C1D3C5;
$color__medium-grey: #202020;
$color__black: #000;  

//== Media queries breakpoints ==//

$screen-xxs:				380px !default;

// Extra small screen / phone

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;

// Small screen / tablet

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen / desktop

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop

$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;