input,
select {
    width: 100%;
    padding: 12px;
    outline: none;
    border: 1px solid $color__light-grey;
    background-color: $color__white;
    font-size: 14px;
    border-radius: 10px;
}
.btn {
    float: right;
    text-transform: uppercase;
    margin-top: 16px;
}